* {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
}

.main_div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aquamarine;
      height: 100vh;
      width: 100vw;
}

.center_div {
      /* display: flex; */
      background-color: rgb(43, 63, 57);
      border-radius: .9rem;
      padding: 1.2rem;
      color: antiquewhite;

}

h1 {
      text-align: center;
}

input {
      border-radius: .6rem;
      text-align: center;
      height: 2.6rem;
      width: 25rem;
      font-size: 1.3rem;
}

.add {
      margin: 1.2rem 0rem;
      display: grid;
      grid-template-columns: 2fr .3fr;
      gap: 1.3rem;
}

Button {
      height: 2.5rem;
}

li {
      list-style: none;
      color: green;
      display: flex;
      flex-wrap: wrap;
      width: 28rem;
}

.todo {
      display: flex;
      font-size: 1.7rem;

}

span {
      margin-right: .9rem;

}

span:hover {
      color: rgb(215, 95, 95);
}